<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="../css/index.css" />
	<title>
		<%= subject %>
	</title>
	
</head>

<body>
	<script src="../js/presetup.js"></script>

	<div class="ParentDiv">
		<div class="float-child">
			<canvas width="720px" height="720px"  id="3DWindow" style="width:75vw; height:75vh"></canvas>
		</div>
		<div class="float-child container">
			<form >
				<h1>Sensor input info:</h1>
				<table id="identifier_table">
					<tr>
						<th>cid</th>
						<th>oid</th>
						<th>odx</th>
						<th>ody</th>
						<th>odz</th>
						<th>ovx</th>
						<th>ovy</th>
						<th>oax</th>
						<th>oay</th>
					</tr>
					<tr>
						<td>radar ID from [0..3]</td>
						<td>Object ID</td>
						<td>longi object distance</td>
						<td>lateral object distance</td>
						<td>latitude object distance</td>
						<td>longi object velocity</td>
						<td>lateral object velocity</td>
						<td>longi object acceleration</td>
						<td>lateral object acceleration</td>
					</tr>
					
				</table>
				<h1>Sensor input info:</h1>
				<label for="iorder">Inputs Order:</label>
				<input type="text" id="iorder" name="inputorder" placeholder="dx,id,dy,vx,vy,ax,az">
				<label for="sensors_content">Inputs Data:</label>
				<textarea id="sensors_content" name="sensors_content" placeholder="0,0,0,0.."></textarea>
				<h4>Note: New lines seperate individual sensor data</h4>
				<input type="submit" value="Render">
				<input type="button" value="Animate Via CSV" disabled>
			</form>
		</div>
	</div>
	<div id="successAlert" class="alert alert-success" role="alert" style="display: none;"> </div>
	<div id="errorAlert" class="alert alert-danger" role="alert" style="display: none;"> </div>
	
	
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script> -->
	<script type="module" src="../js/index.js"></script>
</body>
</html>